.container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  min-width: 480px;
  max-width: 960px;
  aspect-ratio: 4/ 3;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .6fr .3fr;
  border: 1px solid black;
}

div {
  border: 1px solid black;
  justify-self: stretch;
}
#header-menu {
  background-color: brown;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
#stage-text {
  grid-column: 1;
  justify-self: start;
}
#settings {
  grid-column: 2;
}
#sound {
  grid-column: 3;
}

#game-menu {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#player-icon {
  background-color: black;
  grid-column: 1;
  grid-row: 2;
}
#enemy1 {
  background-color: beige;
  grid-column: 3;
  grid-row: 1;
}
#enemy2 {
  background-color: purple;
  grid-column: 4;
  grid-row: 1;
}
#enemy3 {
  background-color: orange;
  grid-column: 3;
  grid-row: 2;
}
#enemy4 {
  background-color: blue;
  grid-column: 4;
  grid-row: 2;
}
#enemy5 {
  background-color: yellow;
  grid-column: 3;
  grid-row: 3;
}
#enemy6 {
  background-color: green;
  grid-column: 4;
  grid-row: 3;
}

#action-menu {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: .75fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#player-portrait {
  grid-column: 1;
  grid-row: 1 / 4;
}
#stats {
  grid-column: 2;
  grid-row: 2 / 4;
}
#combat-text {
  grid-column: 2;
  grid-row: 1;
}
#attack {
  grid-column: 3;
  grid-row: 1;
}
#fireball {
  grid-column: 3;
  grid-row: 2;
}
#heal {
  grid-column: 3;
  grid-row: 3;
}